* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    position: fixed;
    height: 50px;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 50px;
}

nav>a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    display: flex;
    list-style: none;
    gap: 80px;
    margin-bottom: 6px;
    
}

ul li a {
    text-decoration: none;
    color: rgb(246, 243, 243);
    font-size: 20px;
    transition: .3s;
}

ul li a:hover,
.active {
    color: #2fc6de;

}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(27, 60, 122); */
    color: white;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#Home {
    background-image: url(home.png);
    background-size: cover;
    background-position: top left;
}

.homepage {
    margin-left: 50vw;
    margin-bottom: 70px;

}

h1 {
    margin-bottom: 15px;
    text-shadow: 1px 1px 20px rgb(0, 0, 255), 1px 1px 10px rgb(0, 0, 255);

}

#Home ul {
    margin-top: 9px;
    font-size: 17px;
    display: inline;
    line-height: 4vh;
    list-style: inside circle;
    text-shadow: 1px 1px 10px black;

}

#Home p {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 12px;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

#About {
    background-image: url(About.jpg);
    background-size: cover;
    background-position: center bottom;
    color: rgb(1, 0, 0);

}

.Aboutpage {
    margin-left: 40px;
    margin-bottom: 80px;
    backdrop-filter: blur(10px);
    padding-bottom: 40px;

}

.Aboutpage p {
    font-size: 20px;
    margin-top: 18px;
}

.Aboutpage h6 {
    margin-top: 15px;
}

.Aboutpage ul {
    display: inline;
    list-style: inside square;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px black;
}

.Aboutpage li {
    padding: 12px;
}



svg {
    width: 24px;
    display: none;
}


nav>i {
    color: aliceblue;
    display: none;
}

#Shop {
    background-image: url(shop.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

}

.shoppage {
    margin-bottom: 80px;
}

#Shop h3 {
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 20px rgb(0, 0, 255), 1px 1px 10px rgb(0, 0, 252);
    color: rgb(253, 253, 253);
}


caption {
    font-size: 35px;
    color: azure;
    text-shadow: 1px 1px 10px black;
    padding-bottom: 12px;
}

#Shop table {
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    color: #080808;
    backdrop-filter: blur(10px);
    height: 55vh;
}

#Shop td,
th {
    border: 2px solid #080808;
    text-align: center;
    padding: 8px;
}

#Contact h3 {
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(129, 62, 197);
    padding-bottom: 15px;
}

.container form label {
    font-size: 30px;
}

#Contact input[type=text],
select,
textarea {

    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    padding: 12px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;


}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    width: 60%;
    height: 80%;
    border-radius: 5px;
    background-color: #4e3d3d;
    padding: 20px;
    margin: 17px 0 2px 0;
}

@media (max-width:750px) {
    nav ul {
        position: absolute;
        top: 100%;
        width: 260px;
        height: 100vh;
        gap: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: rgba(87, 64, 64, 0.247);
        backdrop-filter: blur(10px);
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
        transition: scale 0.2 ease;
    }

    nav ul li:hover {
        background-color: rgb(91, 52, 52);
        border-radius: 12px;
        text-shadow: 1px 1px 10px #2fc6de;
    }

    svg {
        display: block;
        cursor: pointer;
    }

    #menulist {
        transition: all 0.5;
    }

    nav>a {
        font-size: 25px;
    }

    #home h1 {
        margin-top: 20px;
        font-size: 50px;
        text-shadow: 1px 1px 20px rgb(0, 0, 255), 1px 1px 10px rgb(0, 0, 255);
    }

    .homepage {
        margin-bottom: 25vh;

    }

    #Contact h3 {
        text-shadow: 1px 1px 10px rgb(68, 17, 119);


    }
}