*{
    margin: 0;
    padding: 0;
}


header{
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    position: fixed;
    height: 50px;
    z-index: 100;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
  
    
}
nav > a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
   display: flex;
   list-style: none;
   gap: 85px;
}
ul li a {
    text-decoration: none;
    color: rgb(246, 243, 243);
    font-size: 20px;
    transition: .3s;
}
ul li a:hover,.active
{
    color: #2fc6de;
    
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    color: white;
    font-size: 45px;
    font-weight: 600;
}
#home{
   background-image: url(https://png.pngtree.com/background/20231031/original/pngtree-coding-nerd-a-computer-sporting-glasses-and-3d-programming-code-picture-image_5819254.jpg);
   background-size: cover;
    
}
@media only screen and (max-width:680) {
    nav > a{
        font-size: 25px;

    }
   
}